@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    line-height: 1.7;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    max-width: 100%;
}

/* HEADER
--------------------------*/
.page-header {
    display: flex;
    justify-content: space-between; 
}
.page-middle　{
    display: flex;
    justify-content: space-between;
}
.big-bg {
    background-image: url(../images/h1_whats_2.jpg);
    background-size: cover; 
    width:100%; 
    height: 260px;
}
.pack {
    padding: 42px 0 0 15%;
}
.pack p {
    font-size: 18px;
}
.title  {
    margin: 0 auto;
    line-height: 2.5;
    color: #fff
}
.logo {
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 30px;
}
.main-nav {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
    list-style: none;
}
.text {
    font-weight: bold;
    font-size: 13.5px;
    margin-top: 3px;
    margin-right: 6px;
}
.top {
    height: 32px;
    width: 32px;
    margin: 0 13px;
}
.main-nav li {
    margin-left: 10px;
}
.main-nav a {
    color: #333;
}
.main-nav a:hover {
    color: #0bd;
}
.list {
    display: flex;
    font-size: 12px;
    padding: 0 5.5%;
    margin-bottom: 20px;   
    list-style: none;
}
.list a {
    color: #c0c0c0;
    margin: 0px 5px 10px 0;
}
.plane{
    font-size: 5px;
    margin-top: 5px;
}
#home {
    padding: 0 22%;
}
.share {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding: 30px 0;
    list-style: none;
}
.share li {
    margin-left: 28px;
    list-style: none;
}
.post-info{
    display: flex;
}
.box {
    height: 20px;
    width: 20px;
    margin: 10px 10px 0 0;
}
.blank p {
    margin: 20px 0;
    line-height: 2;
}
.icon {
    height: 25px;
    width: 25px;
}
.button{
    background: #0066CC;
    margin: 30px auto;
    width: 350px;
    height: 70px;
}
.button a {
    display: grid;
    grid-template-columns: 10px 300px 15px;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 auto;
    gap: 10px;
    list-style: none;
}
.ku {
    margin-top: 15px;
    font-size: 10px;
}
.pdf {
    height: 30px;
    width: 30px; 
}
.command {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 30px auto;
}
.command a {
    color: #0D4299;
}
.command a:hover {
    text-decoration: underline;
}
.pdf {
    height: 50px;
    width: 50px; 
}
.bold {
    padding: 20px;
    font-weight: bold;
}
.middle {
    background: #D7EEFF;
    height: 250px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
.grid a {
    color: #0D4299;
    text-align:center;
}
.item {
    background-color: #fff;
    padding: 15px;
    list-style: none;
}
.right {
    font-size: 13px;
    margin-right: 10px;
    color: #c0c0c0;
}
.midfield {
    padding: 70px 15.5%;
}
.midfield li {
    list-style: none;
}
.corporate-information {
    font-size: 1.3rem;
    padding: 20px 0 30px 0;
    border-top: 2px #333 solid;
    border-bottom: 1px #333 dotted;
}

.black {
    font-weight: bold;
    margin-top: 30px;
}

.management-policy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px #333 dotted;
    font-size: 14.5px;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 15px;
}
.management-policy a {
    color: #0D4299;
}
.management-policy a:hover {
    text-decoration: underline;
}

.company-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #333 dotted;
    font-size: 14.5px;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 15px;
}
.company-profile a {
    color: #0D4299;
}
.company-profile a:hover {
    text-decoration: underline;
}

.strengths {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #333 dotted;
    font-size: 14.5px;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 15px;
}
.strengths a {
    color: #0D4299;
}
.strengths a:hover {
    text-decoration: underline;
}

.hub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px #333 dotted;
    font-size: 14.5px;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 15px;
}
.hub a {
    color: #0D4299;
}
.hub a:hover {
    text-decoration: underline;
}

.business-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px #333 dotted;
    font-size: 14.5px;
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 15px;
}
.business-information a {
    color: #0D4299;
}
.business-information a:hover {
    text-decoration: underline;
}

.back {
    margin: 60px 0 25px 0;
}
.back a {
    font-size: 16px;
    color: #0D4299;
}

.twoline {
    display: flex;
    justify-content: center;
    padding: 30px 0 28px 0;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
}
.twoline a {
    margin-left: 35px;
}
.sub-title {
    font-weight: bold;
}
.follow {
    height: 30px;
    width: 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 6% 60px;
    gap: 50px;
}
.menu li {
    font-size: 14px;
    margin-top: 14px;
    list-style: none;
}

.black-2 a {
    font-weight: bold;
    font-size: 16px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 60px 15.5% 20px;
    border-top: 1px #c0c0c0 solid;
    list-style: none;
}
.footer-nav a {
    font-size: 12px;
    color: #c0c0c0;
}

.small {
    padding: 0 15.5% 110px;
    font-size: 1px;
}
